body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.wrapper {
  width: 60vw;
  margin: 0 auto;
}

#donut-chart {
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .wrapper {
    width: 80vw;
  }
}

@media (max-width: 414px) {
  .wrapper {
    width: 96vw;
  }
}
